<!DOCTYPE html>
<html>
  <head>
    
  </head>
  <body>
    
    <%= yield %>
   <br><br><br>
   
  </body>

  <footer>
  
    <a href="/users">View All Users</a> --
    <a href="/users/new">Add A User</a> -- 
    <a href="/restaurants">View All Restaurants</a> --
    <a href="/restaurants/new">Add A Restaurant</a>
  </footer>

</html>